
.hero-container {
  width: 100%;
  height: calc(100vh - 12vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  background: linear-gradient(180deg, var(--main-green) 0%, #5f855a 100%);
}

@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
  }
}

.hero-text {
  max-width: 520px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.hero-title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 2.8rem;
  }
}

.highlight {
  color: var(--main-yellow);
  font-weight: 700;
}

.hero-desc {
  color: black;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .hero-desc {
    font-size: 20px;
  }
}

.rent-btn {
  background: var(--main-yellow);
  color: black;
  border: none;
  padding: 0.8rem 1.8rem;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;

}

.rent-btn:hover {
  background: #8d6b1c;
}

.hero-img {
  width: 90%;
  max-width: 520px;
  margin-top: 2rem;
  object-fit: contain;
  filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.4));
}

@media (min-width: 768px) {
  .hero-img {
    margin-top: 0;
  }
}





 

.how-section {
background: var(--main-beige);
padding: 4rem 0;
}


.how-title {
font-size: 50px;
font-weight: bolder;
color: var(--main-green);
}


.how-img {
width: 100%;
max-width: 420px;
border-radius: 12px;
aspect-ratio: 1;
}


.step {
display: flex;
align-items: flex-start;
gap: 1rem;
margin-bottom: 1.5rem;
}


.step-number {
width: 32px;
height: 32px;
border-radius: 50%;
background: var(--main-green);
color: white;
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
}


.step-title {
font-size: 1.2rem;
font-weight: bold;
}


.step-desc {
color: #555;
margin-top: -4px;
max-width: 340px;
}

.why-section {
  background: var(--secondary-yellow);
  padding: 4rem 0;
}

.why-title {
  font-size: 50px;
  font-weight: bolder;
}

.icon-block {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.red-icon { color: #9e322e; }
.black-icon { color: #000; }
.blue-icon { color: #233ea3; }

.why-heading {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.why-desc {
  color: #333;
  max-width: 300px;
  margin: 0 auto;
  font-size: 18px;
}
    