.signup-wrapper {
  background: #e6dfbb;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  overflow-y: auto;
  padding-bottom: 30px;
}

.signup-container {
  width: 80%;
  max-width: 900px;
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.profile-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--main-green);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden-input {
  display: none;
}
.left, .right {
  flex: 1;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input, select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--main-green);
}

.dob-row {
  display: flex;
  gap: 10px;
}

.create-btn {
  margin-top: 15px;
  background: var(--main-yellow);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.create-btn:hover {
  background: #805717;
}
